header{
  width: 1440px;
  height: 75px;
  border :1px dashed red;
  margin: auto;
  margin-top: 0px;
}
main{
  width: 1440px;
  height: 1750px;
  border :1px dashed red;
  margin: auto;
}
footer{
  width: 1440px;
  height: 75px;
  border :1px dashed red;
  margin: auto;
  margin-top: 0px;
}